/*=transition($transition-property, $transition-time, $method)
	-webkit-transition: $transition-property $transition-time $method
	-moz-transition: $transition-property $transition-time $method
	transition: $transition-property $transition-time $method*/

/**
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box*/

header
{	background-color: royalblue;
	color: #fff;
	text-align: center;
	padding: 30px 0 120px;
	border-radius: 0px 0px 20px 20px;
}

h1{
	text-align: center;
	text-transform: uppercase;
	font-size: 100px;
/*	font-weight: 400;*/
	letter-spacing: 3px;
	line-height: .8;
	padding-top: 50px;
	font-family: 'Roboto', sans-serif;
}
span{
	text-transform: uppercase;
	letter-spacing: 7px;
	font-size: 100px;
	line-height: 1;
}
/*h1{
		font-size: 35px;
		line-height: 2.3;
		padding: 0;
}*/
body{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 1.5;
	color: #333;
	}

a
	{color: #fff}

.row{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0;
	clear: both;
	flex-direction: right;

}
img{
	max-width: 100%;
	height: auto;
	width: 100%;
	padding: 0;
	margin: 10;
	border-radius: 20px;
/*	hover: rounded-full;*/
}


p{
	padding-top: 30px;
}

/*.gallery{
	padding: 40px 0 300px;
	position: relative;
	overflow: hidden;
	}
	*/
/*ul
{
	padding-top: 50px;
	position: relative
}*/

/*li{
	margin-bottom: 20px;
	width: 23.24561403508772%;
	position: relative;
}*/

a{
	/*display: block;
	position: relative;*/
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
/*	line-height: 0;*/
}
&:before
position: absolute
width: 32px
height: 32px
top: 40%
left: 50%
margin: -14px 0 0 -16px

content: ''
opacity: 0
z-index: 1
@include transition(all, 0.3s, linear)

&:hover:before
top: 50%
opacity: 1

&:after
position: absolute
width: 100%
top: 0
bottom: 0
background: rgba(0, 0, 0, 0.3)
content: ''
opacity: 0
@include transition(all, 0.3s, linear)


&:hover:after
opacity: 1

}



/*PORT*/
.port{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding-top: 100px;
	background: #ffffff;
	background-color: #fafafa;
	z-index: 103;
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	border-bottom: 1px solid #d0d0d0;
/*	+transition(all, 0.5s, ease-in-out);*/
}

.description{
		float: left;
		width: 50%;
		max-height: 100%;
		padding: 0 40px 40px;
		overflow: auto;
}

	>*
		opacity: 0
		+transition(all, 0.5s, linear)

	&item_open
		visibility: visible
		-webkit-transform: translateY(0%)
		transform: translateY(0%)
		+transition(all, 0.4s, ease-in-out)

	> *
		opacity: 1
		-webkit-transition-delay: 0.5s
		transition-delay: 0.5s




.close
	{width: 21px;
		height: 21px;
		position: absolute;
		right: 10px;
		top: -121px;
		opacity: 1;
		z-index: 1004;
	}
	+transition(all, 0.1s, ease-in-out)

	item_open &
		opacity: 1
		top: 0px
		+transition(all, 0.3s, ease-in-out)


